@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleConsultation
 * Version: 5.0
 */

/* ---------- Consultation ---------- */

.consultation .info {
	width: 100%;
	line-height: 24px;
	margin-bottom: 10px;
}

.consultation .info th {
	width: 80px;
	font-weight: normal;
	text-align: left;
}

.consultation .info .action {
	width: 120px;
	text-align: right;
}

.consultation .info img {
	width: 70px;
	height: 70px;
	border: 1px solid #e4e4e4;
}

.consultation .info strong {
	color: #ef0101;
	font-size: 14px;
	font-weight: bold;
}

.consultation .info del {
	color: #a5a5a5;
	text-decoration: line-through;
}

.consultation .info div {
	float: left;
	margin-right: 6px;
}

.consultation .content {
	padding: 0px 10px;
	margin-bottom: 10px;
	*zoom: 1;
	border: 1px solid #e4e4e4;
}

.consultation .content li {
	line-height: 24px;
	padding: 10px 0px;
	color: #888888;
	border-bottom: 1px dotted #e4e4e4;
}

.consultation .content li.last {
	border-bottom: none;
}

.consultation .content li .arrow {
	width: 0px;
	height: 0px;
	margin-left: 20px;
	overflow: hidden;
	border: 6px solid;
	border-color: #ffffff #ffffff #f1f1f1 #ffffff;
}

.consultation .content li ul {
	padding: 6px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.consultation .content li ul li {
	padding: 0px;
	border-bottom: none;
}

.consultation .content span {
	color: #999999;
	white-space: nowrap;
}

.consultation .content p {
	padding: 10px 0px;
	color: #999999;
}

.consultation .add {
	margin-bottom: 10px;
}

.consultation .add table {
	width: 100%;
	line-height: 24px;
}

.consultation .add th {
	width: 74px;
	font-weight: normal;
	text-align: right;
}

.consultation .add td {
	padding: 4px;
}