@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleError
 * Version: 5.0
 */

/* ---------- Error ---------- */

.error .main {
	height: 220px;
	padding: 80px 0px 0px 400px;
	background: url(../images/error.jpg) 0px 0px no-repeat;
}

.error .main dt {
	line-height: 40px;
	color: #fe6200;
	font-size: 20px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}

.error .main dd {
	line-height: 26px;
}