@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleFriendLink
 * Version: 5.0
 */

/* ---------- FriendLink ---------- */

.friendLink .list {
	padding: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
}

.friendLink .list li {
	line-height: 24px;
	float: left;
	padding: 14px;
}

.friendLink .list img {
	width: 88px;
	height: 30px;
	display: block;
	padding: 1px;
	border: 1px solid #e4e4e4;
}

.friendLink .list img:hover {
	border: 1px solid #d6d6d6;
}