@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StylePassword
 * Version: 5.0
 */

/* ---------- Password ---------- */

.password .wrap {
	margin-bottom: 10px;
	border: 2px solid #f2f2f2;
}

.password .main {
	padding-bottom: 20px;
	border: 1px solid #d7d7d7;
}

.password .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

.password .title strong {
	padding: 0px 10px;
	color: #3164af;
	font-size: 18px;
}

.password table {
	width: 100%;
	margin-top: 20px;
}

.password th {
	width: 160px;
	padding: 12px;
	font-size: 14px;
	font-weight: normal;
	text-align: right;
}

.password .submit {
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	background: url(../images/password.gif) 0px 0px no-repeat;
}

.password .submit:disabled {
	cursor: not-allowed;
	background-image: none;
	background-color: #dddddd;
}