@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleProduct
 * Version: 5.0
 */

.firstMainNav {
	margin-left: 20px;
}	

.shopName {
	font-size: 12px !important;
	clear: left;
}

.shopName a {
	width: 60%;
	text-align:left;
	display: block;
	float: left;
	padding: 3px 0px;
	color: #aaaaaa;
}

.shopName em {
	padding: 3px 5px;
	background-color: #e61f19;
	border-radius: 3px;
	color: #ffffff;
	float: right;
	font-weight: normal;
}


.shopName a:hover {
	color: #e61f19;
}

.products .grid .shopInfo p {
	height: 24px;
	line-height: 24px;
	width: 50%;
	float: left;
	padding: 3px 0px;
}

.shopInfo p:nth-child(2) {
	width: 50%;
	float: left;
}

.shopInfo span.text-ellipsis {
	color: #e61f19;
	font-weight: bold;
}

.products .list .listShop{
	float: left;
}

.products .list .shopName {
	float: left;
	padding: 38px 0px;
	width: 208px;
}

.products .list .shopInfo {
	float: left;
	padding: 38px 10px;
	width: 150px;
}

.products .list .shopInfo p {
	height: 22px;
	padding: 3px 0px;
	width: 50%;
	float: left;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* ---------- Score ---------- */

.score0 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -60px no-repeat;
}

.score1 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -90px no-repeat;
}

.score2 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -120px no-repeat;
}

.score3 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -150px no-repeat;
}

.score4 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -180px no-repeat;
}

.score5 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -210px no-repeat;
}

.score6 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -240px no-repeat;
}

.score7 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -270px no-repeat;
}

.score8 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -300px no-repeat;
}

.score9 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -330px no-repeat;
}

.score10 {
	width: 60px;
	height: 20px;
	background: url(../images/review.gif) 0px -360px no-repeat;
}

/* ---------- HotProductCategory ---------- */

.hotProductCategory {
	margin-top: -10px;
	margin-bottom: 10px;
	*position: relative;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid #dddddd;
}

.hotProductCategory dl {
	height: 60px;
	line-height: 30px;
	clear: both;
	padding: 0px 8px;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

.hotProductCategory dl.odd {
	background-color: #ffffff;
}

.hotProductCategory dl.even {
	background-color: #fafafa;
}

.hotProductCategory dl:hover {
	padding: 0px 9px;
	border-right: none;
	border-left: none;
	background-color: #e61f19;
}

.hotProductCategory dl:hover a {
	color: #ffffff;
}

.hotProductCategory dt {
	font-family: "Microsoft YaHei";
	font-weight: bold;
}

.hotProductCategory dd {
	float: left;
}

.hotProductCategory dd a {
	margin-right: 6px;
	color: #888888;
}

/* ---------- HotBrand ---------- */

.hotBrand {
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	border: 1px solid #dddddd;
}

.hotBrand dt {
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	color: #888888;
	font-family: "Microsoft YaHei";
	border-bottom: 1px solid #dddddd;
	background-color: #fafafa;
}

.hotBrand dd {
	width: 49.5%;
	height: 50px;
	float: left;
	position: relative;
	text-align: center;
	overflow: hidden;
	border-right: 1px dashed #dddddd;
}

.hotBrand dd.even {
	border-right: 0px;
}

.hotBrand dd img {
	width: 94px;
	height: 50px;
}

.hotBrand dd span {
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: block;
	position: absolute;
	bottom: -50px;
	left: 0px;
	-webkit-transition: ease-in all 0.2s;
	-moz-transition: ease-in all 0.2s;
	transition: ease-in all 0.2s;
	color: #ffffff;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr = #76000000, endcolorstr = #76000000);
	background-color: rgba(0, 0, 0, 0.3);
}

.hotBrand dd:hover span {
	bottom: 0px;
}

/* ---------- HotProduct ---------- */

.hotProduct {
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	word-break: break-all;
	overflow: hidden;
	_zoom: 1;
	border: 1px solid #dddddd;
}

.hotProduct dl {
	margin-bottom: -1px;
}

.hotProduct dt {
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	color: #888888;
	font-family: "Microsoft YaHei";
	border-bottom: 1px solid #dddddd;
	background-color: #fafafa;
}

.hotProduct dd {
	line-height: 26px;
	padding: 9px;
	border-bottom: 1px dotted #dddddd;
}

.hotProduct dd a {
	height: 220px;
	display: block;
	color: #666666;
	overflow: hidden;
}

.hotProduct dd a span {
	line-height: 20px;
	padding: 10px 0px;
	display: block;
}


.hotProduct dd a:hover {
	color: #f35957;
}

.hotProduct dd img {
	width: 170px;
	height: 170px;
}

.hotProduct dd strong {
	color: #c4161c;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	display: inline-block;
}

.hotProduct dd strong del {
	margin-left: 6px;
	color: #a5a5a5;
	font-size: 11px;
	text-decoration: line-through;
	font-weight: normal;
}

/* ---------- HotPromotion ---------- */

.hotPromotion {
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	_zoom: 1;
	border: 1px solid #dddddd;
}

.hotPromotion dl {
	margin-bottom: -1px;
}

.hotPromotion dt {
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	color: #888888;
	font-family: "Microsoft YaHei";
	border-bottom: 1px solid #dddddd;
	background-color: #fafafa;
}

.hotPromotion dd {
	line-height: 24px;
	padding: 8px 10px;
	color: #aaaaaa;
	border-bottom: 1px dotted #dddddd;
}

.hotPromotion dd a {
	display: block;
	color: #999999;
}

.hotPromotion dd a:hover {
	color: #ff6600;
}

.hotPromotion dd img {
	width: 168px;
	height: 50px;
}

/* ---------- HistoryProduct ---------- */

.historyProduct {
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	border: 1px solid #dddddd;
	background-color: #fafafa;
}

.historyProduct dt {
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	color: #888888;
	font-family: "Microsoft YaHei";
}

.historyProduct dd {
	height: 64px;
	line-height: 21px;
	padding: 9px;
	color: #999999;
	border-top: 1px dotted #dddddd;
}

.historyProduct dd.last {
	height: 16px;
	line-height: 16px;
}

.historyProduct dd img {
	width: 60px;
	height: 60px;
	float: left;
	padding: 1px;
	margin-right: 4px;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
}

.historyProduct dd a {
	width: 100px;
	height: 42px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	color: #999999;
	word-break: break-all;
	overflow: hidden;
}

.historyProduct dd a:hover {
	color: #ff6600;
}

.historyProduct dd a.clear {
	height: 16px;
	line-height: 16px;
	color: #999999;
	outline: none;
	blr: expression(this.hideFocus = true);
}

.historyProduct dd strong {
	width: 100px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	color: #c4161c;
	font-weight: normal;
	white-space: nowrap;
}

/* ---------- Products ---------- */

.products .compareBar {
	width: 1168px;
	height: 114px;
	display: none;
	padding: 0px 10px;
	margin-left: -595px;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeightthis.offsetHeight);
	left: 50%;
	z-index: 90;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	border: 1px solid #dddddd;
	border-bottom: 0px;
	background-color: #ffffff;
}

.products .compareBar dt {
	line-height: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

.products .compareBar dd {
	width: 230px;
	line-height: 22px;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	position: relative;
	border-right: 1px dotted #dddddd;
}

.products .compareBar dd.action {
	width: 140px;
	float: right;
	padding-top: 20px;
	padding-right: 0px;
	margin-right: 0px;
	border-right: 0px;
	margin-bottom: 10px;
}

.products .compareBar dd img {
	width: 60px;
	height: 60px;
	float: left;
	padding: 1px;
	margin-right: 4px;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
}

.products .compareBar dd span {
	width: 160px;
	height: 44px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	color: #999999;
	word-break: break-all;
	overflow: hidden;
}

.products .compareBar dd strong {
	width: 160px;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	color: #c4161c;
	font-weight: normal;
	white-space: nowrap;
}

.products .compareBar dd strong del {
	margin-left: 6px;
	color: #a5a5a5;
	font-size: 11px;
	text-decoration: line-through;
}

.products .compareBar dd .remove {
	display: none;
	_display: inline;
	position: absolute;
	right: 6px;
	bottom: 0px;
	color: #666666;
}

.products .compareBar dd:hover .remove {
	display: inline;
}

.products .compareBar dd.action a {
	height: 24px;
	line-height: 24px;
	display: block;
	float: left;
	padding: 0px 10px;
	margin-right: 6px;
	color: #ffffff;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
	background-color: #cc0000;
}

.products .filter {
	margin-bottom: 4px;
	position: relative;
}

.products .filter .title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-family: "Microsoft YaHei";
	border: solid 1px #e8e8e8;
}

.products .filter .content {
	padding: 0px 10px;
	border-left: solid 1px #e8e8e8;
	border-right: solid 1px #e8e8e8;
}

.products .filter dl {
	height: 30px;
	line-height: 30px;
	clear: both;
	padding-left: 90px;
	margin-top: -1px;
	position: relative;
	overflow: hidden;
	border-top: dotted 1px #e8e8e8;
}

.products .filter dt {
	width: 80px;
	_display: inline;
	float: left;
	padding-right: 10px;
	margin-left: -90px;
	color: #555555;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
}

.products .filter dd {
	float: left;
	margin-right: 10px;
	white-space: nowrap;
}

.products .filter dd a {
	padding: 2px 4px;
}

.products .filter dd a.current {
	color: #ffffff;
	background-color: #f35957;
}

.products .filter .moreOption {
	width: 12px;
	height: 30px;
	display: none;
	margin-right: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	overflow: hidden;
	background: url(../images/product.gif) -210px -270px no-repeat;
}

.products .filter dd.close {
	background: url(../images/product.gif) -210px -300px no-repeat;
}

.products .filter .moreFilter {
	line-height: 6px;
	background: url(../images/product.gif) 0px 0px repeat-x;
}

.products .filter .moreFilter a {
	width: 108px;
	height: 27px;
	line-height: 20px;
	display: block;
	margin: 0px auto;
	text-align: center;
	outline: none;
	blr: expression(this.hideFocus = true);
	background: url(../images/product.gif) 0px -480px no-repeat;
}

.products .filter .moreFilter .close {
	background: url(../images/product.gif) -120px -480px no-repeat;
}

.products .bar {
	margin-bottom: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: solid 1px #dddddd;
}

.products .bar .layout {
	height: 26px;
	line-height: 26px;
	padding: 8px 0px 8px 8px;
	/* background: url(../images/product.gif) 0px -30px repeat-x; */
}

.products .bar .layout label {
	float: left;
	margin-right: 8px;
}

.products .bar .layout a {
	float: left;
	padding: 1px;
	margin-right: 10px;
	outline: none;
	blr: expression(this.hideFocus = true);
	cursor: pointer;
	border: solid 1px #dddddd;
	background-color: #ffffff;
}

.products .bar .layout a:hover {
	border: solid 1px #f35957;
}

.products .bar .layout a.current {
	border: solid 1px #f35957;
}

.products .bar .layout a span {
	min-width: 22px;
	_width: 22px;
	height: 22px;
	line-height: 22px;
	display: block;
	text-align: center;
	white-space: nowrap;
}

.products .bar .layout .gridType span {
	background: url(../images/product.gif) 0px -510px no-repeat;
}

.products .bar .layout .listType span {
	background: url(../images/product.gif) -60px -510px no-repeat;
}

.products .bar .layout .currentGrid {
	border: solid 1px #f35957;
}

.products .bar .layout .currentGrid span {
	background: url(../images/product.gif) -30px -510px no-repeat;
}

.products .bar .layout .currentList {
	border: solid 1px #f35957;
}

.products .bar .layout .currentList span {
	background: url(../images/product.gif) -90px -510px no-repeat;
}

.products .bar .layout .page {
	float: right;
}

.products .bar .layout .page span {
	padding: 0px 6px;
}

.products .bar .sort {
	height: 26px;
	padding: 8px;
	border-top: 1px dotted #dddddd;
}

.products .bar .sort .orderMenu {
	float: left;
	position: relative;
	_z-index: 10;
}

.products .bar .sort .orderMenu span {
	width: 100px;
	height: 22px;
	line-height: 22px;
	display: block;
	padding: 0px 6px;
	cursor: default;
	border: solid 1px #dddddd;
	background: url(../images/product.gif) right -330px no-repeat;
}

.products .bar .sort .orderMenu ul {
	width: 110px;
	display: none;
	padding: 1px;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 10;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.08);
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

.products .bar .sort .orderMenu li {
	height: 24px;
	line-height: 24px;
	padding: 0px 6px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.products .bar .sort .orderMenu li:hover {
	color: #fff;
	background-color: #f35957;
}

.products .bar .sort .orderMenu li.current {
	color: #fff;
	background-color: #f35957;
}

.products .bar .sort a:hover {
	color: #f35957;
	background-color: #eeeeee;
}

.products .bar .sort a.current {
	color: #f35957;
	background-color: #eeeeee;
}

.products .bar .sort .asc, .products .bar .sort .currentAsc, .products .bar .sort .desc, .products .bar .sort .currentDesc {
	height: 22px;
	line-height: 22px;
	display: block;
	float: left;
	padding: 0px 15px 0px 6px;
	outline: none;
	blr: expression(this.hideFocus = true);
	border-top: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
}

.products .bar .sort .asc {
	background: url(../images/product.gif) right -360px no-repeat;
}

.products .bar .sort .currentAsc {
	background: url(../images/product.gif) right -390px no-repeat;
}

.products .bar .sort .desc {
	background: url(../images/product.gif) right -420px no-repeat;
}

.products .bar .sort .currentDesc {
	background: url(../images/product.gif) right -450px no-repeat;
}

.products .bar .sort input {
	width: 36px;
	height: 18px;
	line-height: 18px;
	float: left;
	padding: 2px;
	margin: 0px 4px;
	text-align: center;
	vertical-align: middle;
	ime-mode: disabled;
	border: 1px solid #dddddd;
}

.products .bar .sort input:disabled {
	background-color: #ffffff;
}

.products .bar .sort label {
	width: 8px;
	height: 22px;
	line-height: 22px;
	float: left;
	text-align: center;
}

.products .bar .sort button {
	height: 24px;
	display: none;
	float: left;
	padding: 0px 4px;
	color: #fff;
	font-size: 12px;
	vertical-align: middle;
	cursor: pointer;
	_overflow-x: visible;
	border: 1px solid #f35957;
	background-color: #f35957;
}

.products .result dl {
	line-height: 30px;
	padding: 10px;
}

.products .result dt {
	color: #843d11;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-weight: bold;
}

.products .grid {
	margin-bottom: 10px;
}

.products .grid li {
	width: 170px;
	height: 330px;
	float: left;
	padding: 14px; 
	word-break: break-all;
	overflow: hidden;
}

.products .grid li:hover {
	padding: 12px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	border: 2px solid #e61f19;
}

.products .grid a img {
	width: 170px;
	height: 170px;
}

.products .grid a div {
	width: 170px;
	height: 48px;
	line-height: 24px;
	overflow: hidden;
	font-size:14px;
	margin-top:5px;
}

.products .grid a span {
	height: 40px;
	line-height: 20px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	margin-top: 8px;
}

.products .grid a em {
	height: 24px;
	display: block;
	color: #ff7700;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
}

.products .grid strong {
	line-height: 30px;
	display: block;
	color: #c4161c;
	font-size: 14px;
	font-weight: bold;
}

.products .grid strong em {
	color: #a5a5a5;
	font-size: 12px;
	font-weight: normal;
}

.products .grid strong del {
	margin-left: 6px;
	color: #a5a5a5;
	font-size: 11px;
	font-weight: normal;
	text-decoration: line-through;
}

.products .grid .action {
	display: none;
	_display: block;
}

.products .grid .action a {
	height: 22px;
	line-height: 22px;
	display: block;
	_display: inline;
	float: left;
	padding: 0px 6px;
	margin-right: 24px;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dddddd
}

.products .grid .action .addCompare {
	margin-right: 0px !important;
}

.products .grid .action a:hover {
	border-color: #f35957;
}

.products .grid li:hover .action {
	display: block;
}

.products .grid .action a.addProductFavorite {
	width: 10px;
	background: url(../images/product.gif) 0px -540px no-repeat;
}

.products .grid .action a.addCompare {
	width: 10px;
	background: url(../images/product.gif) -30px -540px no-repeat;
}

.products .grid .action a.selected {
	cursor: default;
	border-color: #ff7c26;
	background-color: #ffd2b5;
}

.products .list {
	margin-bottom: 10px;
}

.products .list li {
	height: 100px;
	padding: 10px 0px;
	border-bottom: solid 1px #e8e8e8;
}

.products .list a img {
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	margin-right: 20px;
}

.products .list a div {
	width: 170px;
	height: 15px;
	float: left;
	padding: 38px 0px;
	margin-right: 20px;
	overflow:hidden;
}

.products .list a em {
	display: block;
	color: #ff7700;
	font-weight: normal;
}

.products .list strong {
	width:130px;
	text-align:left;
	display: block;
	float: left;
	padding: 38px 10px;
	color: #c4161c;
	font-size: 14px;
	font-weight: bold;
	overflow:hidden;
}

.products .list strong em {
	color: #a5a5a5;
	font-size: 12px;
	font-weight: normal;
}

.products .list strong del {
	margin-left: 10px;
	color: #a5a5a5;
	font-size: 11px;
	font-weight: normal;
	text-decoration: line-through;
}

.products .list .action {
	padding: 38px 0px;
}

.products .list .action a {
	height: 22px;
	line-height: 22px;
	display: block;
	_display: inline;
	float: left;
	padding: 0px 6px;
	margin-left: 10px;
	white-space: nowrap;
	outline: none;
	blr: expression(this.hideFocus = true);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dddddd
}

.products .list .action a:hover {
	border-color: #ff7c26;
}

.products .list .action a.addProductFavorite {
	width: 10px;
	background: url(../images/product.gif) 0px -540px no-repeat;
}

.products .list .action a.addCompare {
	width: 10px;
	background: url(../images/product.gif) -30px -540px no-repeat;
}

.products .list .action a.selected {
	cursor: default;
	border-color: #ff7c26;
	background-color: #ffd2b5;
}

/* ---------- ProductCompare ---------- */

.productCompare .main li {
	width: 240px;
	line-height: 30px;
	float: left;
}

.productCompare .main li+li {
	margin-left: 10px;
}

.productCompare table {
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
}

.productCompare th {
	width: 60px;
	padding: 0px 10px;
	font-weight: normal;
	text-align: right;
	border: 1px solid #e8e8e8;
}

.productCompare td {
	padding: 0px 10px;
	border: 1px solid #e8e8e8;
}

.productCompare td img {
	width: 170px;
	height: 170px;
	display: block;
	margin: 10px auto;
}

.productCompare td strong {
	color: #c4161c;
	font-size: 14px;
	font-weight: bold;
}

.productCompare .group {
	font-size: 14px;
	text-align: left;
	background-color: #f1f1f1;
}

.productCompare .current th {
	background-color: #f1f1f1;
}

.productCompare .current td {
	background-color: #f6f6f6;
}

/* ---------- ProductDetail ---------- */

.productDetail .productImage {
	width: 302px;
	height: 370px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.productDetail .sku {
	width: 470px;
	min-height: 370px;
	float: left;
}

.productDetail .storeInfo {
	width: 200px;
	float: right;
	clear: right;
}

.productDetail .storeInfo > img {
	width: 100%;
	margin-bottom: 10px;
}

.productDetail .storeInfo strong {
	line-height: 30px;
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	word-break: break-all;
}

.productDetail .storeInfo .divider {
	height: 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
}

.productDetail .storeInfo p {
	margin-bottom: 10px;
}

.productDetail .storeInfo p a {
	height: 28px;
	line-height: 28px;
	display: block;
	float: right;
	padding: 0px 10px;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	border: 1px solid #dddddd;
}

.productDetail .storeInfo p a:first-child {
	float: left;
}

.productDetail .storeInfo span {
	line-height: 20px;
	display: block;
	margin-bottom: 10px;
}

.productDetail .storeInfo a img {
	margin-right: 10px;
	margin-bottom: 5px;
}

.productDetail .productImage a {
	display: block;
}

.productDetail .productImage .medium {
	width: 300px;
	height: 300px;
	margin-bottom: 4px;
	border: 1px solid #e8e8e8;
}

.productDetail .productImage .prev {
	width: 10px;
	height: 62px;
	display: block;
	float: left;
	margin-right: 5px;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #e8e8e8;
	background: url(../images/product.gif) -120px -510px no-repeat;
}

.productDetail .productImage .prev:hover {
	background-color: #f1f1f1;
}

.productDetail .productImage .next {
	width: 10px;
	height: 62px;
	display: block;
	float: right;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #e8e8e8;
	background: url(../images/product.gif) -180px -510px no-repeat;
}

.productDetail .productImage .next:hover {
	background-color: #f1f1f1;
}

.productDetail .productImage .disabled {
	cursor: default;
	background-color: #f1f1f1;
}

.productDetail .productImage a[class="prev disabled"] {
	background: url(../images/product.gif) -150px -510px no-repeat #f4f4f4;
}

.productDetail .productImage a[class="next disabled"] {
	background: url(../images/product.gif) -210px -510px no-repeat #f4f4f4;
}

.productDetail .productImage .scrollable {
	width: 268px;
	height: 64px;
	float: left;
	position: relative;
	overflow: hidden;
}

.productDetail .productImage .scrollable .items {
	width: 20000em;
	position: absolute;
}

.productDetail .productImage .scrollable a {
	display: block;
	float: left;
	padding: 1px;
	margin-right: 4px;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #e8e8e8;
}

.productDetail .productImage .scrollable a.current {
	padding: 0px;
	border: 2px solid #f35957;
}

.productDetail .productImage .scrollable img {
	width: 60px;
	height: 60px;
}

.productDetail .productImage .zoomPad {
	position: relative;
	z-index: 10;
	cursor: crosshair;
}

.productDetail .productImage .zoomPreload {
	width: 10px;
	height: 10px;
	position: absolute;
	overflow: hidden;
	background: url(../images/loading_icon.gif) center no-repeat;
}

.productDetail .productImage .zoomPup {
	overflow: hidden;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	position: absolute;
	z-index: 10;
	cursor: crosshair;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
}

.productDetail .productImage .zoomOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	display: none;
	background-color: #ffffff;
}

.productDetail .productImage .zoomWindow {
	height: auto;
	position: absolute;
	left: 110%;
	top: 40px;
	z-index: 10;
	background: #ffffff;
}

.productDetail .productImage .zoomWrapper {
	position: relative;
	z-index: 10;
	border: 1px solid #e8e8e8;
}

.productDetail .productImage .zoomWrapperTitle {
	width: 100%;
	height: 18px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	font-size: 10px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
	display: block;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	background-color: #999999;
}

.productDetail .productImage .zoomWrapperImage {
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 10;
}

.productDetail .productImage .zoomWrapperImage img {
	display: block;
	position: absolute;
	z-index: 10;
	border: 0px;
}

.productDetail .productImage .zoomIframe {
	display: block;
	position: absolute;
	z-index: -10;
}

.productDetail .preview {
	width: 700px;
	height: 700px;
	display: none;
	margin-left: -350px;
	position: fixed;
	_position: absolute;
	top: 20px;
	_top: expression(documentElement.scrollTop + 20);
	left: 50%;
	z-index: 90;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

.productDetail .preview .close {
	width: 13px;
	height: 12px;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 90;
	background: url(../images/product.gif) -150px -600px no-repeat;
}

.productDetail .preview .close:hover {
	background-position: -180px -600px;
}

.productDetail .preview .prev {
	width: 37px;
	height: 69px;
	display: block;
	position: absolute;
	top: 315px;
	left: 10px;
	z-index: 90;
	outline: none;
	blr: expression(this.hideFocus = true);
	background: url(../images/product.gif) 0px -660px no-repeat;
}

.productDetail .preview .prev:hover {
	background-position: -60px -660px;
}

.productDetail .preview .next {
	width: 37px;
	height: 69px;
	display: block;
	position: absolute;
	top: 315px;
	right: 10px;
	z-index: 90;
	outline: none;
	blr: expression(this.hideFocus = true);
	background: url(../images/product.gif) -120px -660px no-repeat;
}

.productDetail .preview .next:hover {
	background-position: -180px -660px;
}

.productDetail .preview .disabled {
	display: none;
}

.productDetail .preview .items {
	width: 20000em;
	position: absolute;
}

.productDetail .preview img {
	width: 700px;
	height: 700px;
	display: block;
	float: left;
}

.productDetail .info {
	width: 470px;
	float: right;
	clear: right;
}

.productDetail .info h1 {
	line-height: 30px;
	color: #414141;
	font-size: 14px;
	font-weight: bold;
	word-break: break-all;
}

.productDetail .info h1 em {
	line-height: 24px;
	display: block;
	color: #f35957;
	font-size: 12px;
	font-weight: normal;
}

.productDetail .info dl {
	line-height: 26px;
	clear: both;
}

.productDetail .info dt {
	width: 70px;
	float: left;
	margin-right: 8px;
	color: #999999;
	white-space: nowrap;
}

.productDetail .info dd {
	float: left;
	margin-right: 10px;
}

.productDetail .info span {
	margin-right: 10px;
	color: #999999;
}

.productDetail .info em {
	color: #999999;
	font-weight: normal;
}

.productDetail .info strong {
	color: #ef0101;
	font-size: 16px;
	font-weight: bold;
}

.productDetail .info del {
	color: #888888;
	text-decoration: line-through;
}

.productDetail .info a {
	padding: 2px 4px;
	color: #ffffff;
	background-color: #f07373;
}

.productDetail .action {
	width: 464px;
	line-height: 34px;
	float: right;
	clear: right;
	padding: 2px;
	margin-bottom: 10px;
	color: #333333;
	-webkit-transition: border-color ease-in-out 0.2s;
	-moz-transition: border-color ease-in-out 0.2s;
	transition: border-color ease-in-out 0.2s;
	border: 1px solid #dddddd;
	background-color: #fefefe;
}

.productDetail .action:hover {
	border-color: #e61f19;
}

.productDetail .specification .title {
	height: 30px;
	line-height: 28px;
	display: none;
	padding-left: 4px;
	color: #c09853;
}

.productDetail .specification dl {
	line-height: 24px;
	clear: both;
	padding: 4px 0px;
}

.productDetail .specification dt {
	width: 60px;
	float: left;
	margin-right: 8px;
	text-align: right;
	color: #888888;
	white-space: nowrap;
	overflow: hidden;
}

.productDetail .specification dd {
	float: left;
	margin-right: 4px;
	overflow: hidden;
	white-space: nowrap;
}

.productDetail .specification a {
	min-width: 8px;
	_width: 8px;
	height: 24px;
	line-height: 24px;
	padding: 0px 8px;
	display: block;
	float: left;
	position: relative;
	outline: none;
	blr: expression(this.hideFocus = true);
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #eeeeee;
	background-color: #ffffff;
}

.productDetail .specification a:hover {
	border-color: #e61f19;
}

.productDetail .specification a span {
	width: 13px;
	height: 13px;
	display: none;
	position: absolute;
	right: 0px;
	_right: -1px;
	bottom: 0px;
	_bottom: -1px;
	overflow: hidden;
	background: url(../images/product.gif) -60px -540px no-repeat;
}

.productDetail .specification .selected {
	border: 1px solid #e61f19;
}

.productDetail .specification .selected span {
	display: block;
}

.productDetail .specification .locked {
	color: #d6d6d6;
	cursor: not-allowed;
	border-color: #bbbbbb;
	border-style: dotted;
}

.productDetail .productNotify {
	height: 24px;
	line-height: 24px;
	padding: 10px 0px;
	display: none;
	border-bottom: 1px solid #faeac7;
}

.productDetail .productNotify dt {
	width: 60px;
	float: left;
	margin-right: 8px;
	color: #888888;
	text-align: right;
	white-space: nowrap;
}

.productDetail .productNotify dd {
	float: left;
	margin-right: 4px;
	color: #666666;
}

.productDetail .productNotify input {
	width: 160px;
	height: 18px;
	line-height: 18px;
	padding: 4px;
	border: 1px solid #dddddd;
}

.productDetail .quantity {
	height: 25px;
	line-height: 25px;
	padding: 10px 0px;
	border-bottom: 1px solid #e8e8e8;
}

.productDetail .quantity dt {
	width: 60px;
	float: left;
	margin-right: 8px;
	color: #888888;
	text-align: right;
	white-space: nowrap;
}

.productDetail .quantity dd {
	float: left;
	margin-right: 4px;
}

.productDetail .quantity input {
	width: 30px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	float: left;
	padding: 0px 2px;
	text-align: center;
	ime-mode: disabled;
	border: 1px solid #dddddd;
	border-left: none;
	border-right: none;
}

.productDetail .quantity div {
	height: 18px;
	float: left;
	padding-left: 2px;
}

.productDetail .quantity .increase {
	width: 23px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	float: left;
	margin-bottom: 2px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: border-color ease-in-out 0.2s;
	-moz-transition: border-color ease-in-out 0.2s;
	transition: border-color ease-in-out 0.2s;
	border: 1px solid #dddddd;
}

.productDetail .quantity .increase:hover {
	border-color: #f35957;
}

.productDetail .quantity .decrease {
	width: 23px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	display: inline-block;
	float: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: border-color ease-in-out 0.2s;
	-moz-transition: border-color ease-in-out 0.2s;
	transition: border-color ease-in-out 0.2s;
	border: 1px solid #dddddd;
}

.productDetail .quantity .decrease:hover {
	border-color: #f35957;
}

.productDetail .buy {
	height: 36px;
	line-height: 36px;
	padding: 8px 10px 8px 70px;
	border-top: 2px solid #ffffff;
}

.productDetail .buy .addProductNotify {
	width: 127px;
	height: 36px;
	line-height: 34px;
	float: left;
	padding-left: 20px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	cursor: pointer;
	border: none;
	background: url(../images/product.gif) 0px -600px no-repeat;
}

.productDetail .buy .exchange {
	width: 127px;
	height: 36px;
	line-height: 34px;
	float: left;
	padding-left: 20px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	cursor: pointer;
	border: none;
	background: url(../images/product.gif) 0px -600px no-repeat;
}

.productDetail .buy .addCart {
	width: 127px;
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 20px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	cursor: pointer;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	border-radius: 3px;
	border: none;
	background: url(../images/product.gif) 0px -600px no-repeat;
}

.productDetail .buy .addCart:hover {
	opacity: 0.8;
}

.productDetail .buy a {
	line-height: 36px;
	float: right;
	padding: 0px 20px;
	color: #fff;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
	background-color: #f35957;
	border-radius: 3px;
}

.productDetail .buy a:hover {
	opacity: 0.8;
}

.productDetail .share {
	width: 470px;
	height: 30px;
	float: right;
	clear: right;
	margin-bottom: 10px;
}

.productDetail .bar {
	height: 36px;
	clear: both;
	margin-bottom: 10px;
}

.productDetail .fixed {
	position: fixed;
	_position: absolute;
	top: 0px;
	_top: expression(documentElement.scrollTop);
	z-index: 10;
}

.productDetail .bar ul {
	height: 40px;
	border-bottom: 1px solid #f35957;
	background-color: #f7f7f7;
}

.productDetail .bar li {
	height: 40px;
	line-height: 40px;
	float: left;
}

.productDetail .bar li:hover {
	background-color: #f35957;
	color: #fff;
}

.productDetail .bar li a {
	color: inherit;
	display: inline-block;
	padding: 0px 25px;
}

.productDetail .bar li.current {
	background-color: #f35957;
}

.productDetail .bar li.current a {
	color: #fff;
	display: inline-block;
	padding: 0px 25px;
}

.productDetail .brief {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	margin-bottom: 10px;
}

.productDetail .brief th {
	width: 120px;
	height: 30px;
	padding: 0px 6px;
	color: #888888;
	font-weight: normal;
	text-align: right;
	background-color: #eeeeee;
}

.productDetail .brief td {
	padding: 0px 6px;
	color: #999999;
	background-color: #f6f6f6;
}

.productDetail .introduction .title, .productDetail .parameter .title {
	height: 34px;
	line-height: 34px;
	margin-bottom: 10px;
	border-bottom: 2px solid #d7d7d7;
}

.productDetail .introduction .title strong, .productDetail .parameter .title strong {
	display: block;
	float: left;
	padding: 0px 20px;
	margin-bottom: -2px;
	_position: relative;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	border-bottom: 2px solid #f35957;
	color: #f35957;
}

.productDetail .introduction {
	margin-bottom: 10px;
	overflow: hidden;
}

.productDetail .introduction strong {
	font-weight: bold;
}

.productDetail .introduction em {
	font-style: italic;
}

.productDetail .parameter {
	margin-bottom: 10px;
}

.productDetail .parameter table {
	width: 100%;
	line-height: 30px;
}

.productDetail .parameter th {
	width: 100px;
	padding: 0px 10px;
	font-weight: normal;
	text-align: right;
	border: 1px solid #e8e8e8;
}

.productDetail .parameter td {
	padding: 0px 10px;
	border: 1px solid #e8e8e8;
}

.productDetail .parameter .group {
	font-size: 14px;
	text-align: left;
	background-color: #f1f1f1;
}

.productDetail .review {
	padding: 1px;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
}

.productDetail .review .title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background-color: #f1f1f1;
}

.productDetail .review .content {
	padding: 0px 10px;
}

.productDetail .review .score {
	width: 120px;
	height: 60px;
	float: left;
	padding-top: 20px;
	margin: 10px 20px 10px 0px;
	color: #808080;
}

.productDetail .review .score strong {
	display: block;
	float: left;
	margin-right: 4px;
	color: #f35957;
	font-size: 30px;
	font-weight: normal;
	font-family: "Microsoft YaHei";
}

.productDetail .review .score div {
	float: left;
}

.productDetail .review .score div div {
	height: 18px;
	line-height: 18px;
	clear: both;
	white-space: nowrap;
}

.productDetail .review .graph {
	height: 60px;
	width: 400px;
	float: left;
	padding: 10px 10px 10px 0px;
	margin: 10px 0px;
	border-right: 1px solid #e8e8e8;
}

.productDetail .review .graph span {
	height: 21px;
	display: block;
}

.productDetail .review .graph em {
	width: 28px;
	height: 21px;
	line-height: 16px;
	display: block;
	float: right;
	margin-right: 26px;
	color: #ffffff;
	text-align: center;
	font-style: normal;
	background: url(../images/review.gif) 0px -30px no-repeat;
}

.productDetail .review .graph div {
	width: 400px;
	height: 14px;
	background: url(../images/review.gif) 0px 0px no-repeat;
}

.productDetail .review .graph li {
	width: 80px;
	height: 26px;
	line-height: 26px;
	float: left;
	color: #808080;
	text-align: center;
}

.productDetail .review .action {
	height: 40px;
	float: left;
	padding-top: 34px;
	padding-left: 20px;
	margin: 10px 0px;
}

.productDetail .review .action a {
	padding: 4px 8px;
	color: #ffffff;
	font-weight: bold;
	white-space: nowrap;
	background-color: #2372cf;
}

.productDetail .review table {
	width: 100%;
	line-height: 24px;
	clear: both;
	border-top: 1px solid #e8e8e8;
}

.productDetail .review table th {
	padding: 6px 0px;
	color: #888888;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px dotted #e8e8e8;
}

.productDetail .review table td {
	width: 160px;
	padding-left: 10px;
	border-bottom: 1px dotted #e8e8e8;
}

.productDetail .review span {
	color: #999999;
}

.productDetail .review p {
	padding: 10px 0px;
	color: #888888;
}

.productDetail .consultation {
	padding: 1px;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
}

.productDetail .consultation .title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
	background-color: #f1f1f1;
}

.productDetail .consultation .content {
	padding: 0px 10px;
	overflow: hidden;
	_zoom: 1;
}

.productDetail .consultation .content ul {
	margin-bottom: -1px;
}

.productDetail .consultation .content li {
	line-height: 24px;
	padding: 10px 0px;
	color: #888888;
	border-bottom: 1px dotted #e8e8e8;
}

.productDetail .consultation .content li .arrow {
	width: 0px;
	height: 0px;
	margin-left: 20px;
	overflow: hidden;
	border: 6px solid;
	border-color: #ffffff #ffffff #f1f1f1 #ffffff;
}

.productDetail .consultation .content li ul {
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f1f1f1;
}

.productDetail .consultation .content li ul li {
	padding: 0px;
	border-bottom: none;
}

.productDetail .consultation .content span {
	color: #999999;
	white-space: nowrap;
}

.productDetail .consultation .content p {
	padding: 10px 0px;
	color: #999999;
}