@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleLogin
 * Version: 5.0
 */

/* ---------- Login ---------- */
.login main {
	padding: 10px;
	margin-top: 40px;
}

.login main a {
	line-height: 50px;
}

.login footer {
	width: 100%;
	position: fixed;
	bottom: 20px;
	left: 0px;
	z-index: 100;
}

.login footer a {
	margin-right: 50px;
}

.login footer a:last-child {
	margin-right: 0px;
}

.login footer a img {
	max-width: 40px;
}