@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 *
 * StyleProfile
 * Version: 5.0
 */

/* ---------- Profile ---------- */
.profile main {
	margin: 40px 0px;
	background-color: #fafafa;
}

.profile main .media-left img {
	max-width: 50px;
	padding: 2px;
	border: solid 1px #e8e8e8;
	white-space: nowrap;
	overflow: hidden;
}

.profile main .media-object {
	width: 100px;
	overflow: hidden;
}

.profile main .media-object img {
	max-width: 100%;
	border: solid 1px #e8e8e8;
}

.profile main .media-heading {
	line-height: 25px;
}

.profile main .store h4 {
	margin: 0px;
	font-weight: bold;
}

.profile main .store .media-left img {
	max-width: 80px;
	white-space: nowrap;
	overflow: hidden;
}

.profile main .store .media-right {
	white-space: nowrap;
}

.profile main .list-group-item .glyphicon-ok-circle {
	font-size: 18px;
	color: #cccccc;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}

.profile main .list-group-item.active .glyphicon-ok-circle {
	color: #dd0000;
}

.profile main .panel-heading h4 {
	display: inline-block;
	font-weight: bold;
}

.profile main .panel-footer .btn-primary {
	margin-right: 30px;
}

.profile main .no-result {
	width: 100%;
	height: 50px;
	line-height: 50px;
	clear: both;
	color: #cccccc;
	font-size: 12px;
	text-align: center;
	background: url(data:image/gif;base64,R0lGODlh6AMBAPAAAO7u7gAAACH5BAEAAAEALAAAAADoAwEAAAInhI+py+0Po5y02ouz3rz7D4ZTQJbmiabqyrbuu4ryTNf2jef6znMFADs=) center center no-repeat #ffffff;
}

/* ---------- Index ---------- */
.profile main .icon {
	display: block;
	position: relative;
}

.profile main .icon .fa {
	display: block;
	padding: 5px 0px;
	font-size: 25px;
}

.profile main .icon .badge {
	margin-left: 5px;
	position: absolute;
	top: 2px;
	left: 50%;
	background-color: #ee0000;
}

/* ---------- Order ---------- */
.profile .transit-step-modal .modal-body {
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	word-break: break-all;
}

.profile main .fee-item {
	display: none;
}

/* ---------- Review ---------- */
.profile main .media .score {
	white-space: nowrap;
}

/* ---------- Message ---------- */
.profile main .messages .message-item {
	margin-bottom: 10px;
}

.profile main .messages .message-item .popover {
	max-width: 80%;
	display: block;
	margin: 0px 5px 10px 5px;
	position: relative;
	z-index: auto;
	word-break: break-all;
}

.profile main .messages .message-item .popover p {
	line-height: 25px;
}

.profile main .messages .message-item .status {
	position: absolute;
	left: -50px;
	bottom: 0px;
}