<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SHOP++</display-name>
  <description>SHOP++ B2B2C网上商城系统</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:applicationContext.xml
		</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>deviceResolverRequestFilter</filter-name>
    <filter-class>org.springframework.mobile.device.DeviceResolverRequestFilter</filter-class>
  </filter>
  <filter>
    <filter-name>sitePreferenceRequestFilter</filter-name>
    <filter-class>org.springframework.mobile.device.site.SitePreferenceRequestFilter</filter-class>
  </filter>
  <filter>
    <filter-name>etagHeaderFilter</filter-name>
    <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
  </filter>
  <filter>
    <filter-name>indexCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>index</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>areaCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>area</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>articleCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>article</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>productCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>product</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>brandCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>brand</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>promotionCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>promotion</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>reviewCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>review</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>consultationCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>consultation</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>friendLinkCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>friendLink</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>productCategoryCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>productCategory</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>sitemapCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>sitemap</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>commonJsCacheFilter</filter-name>
    <filter-class>net.shopxx.filter.PageCachingFilter</filter-class>
    <init-param>
      <param-name>cacheName</param-name>
      <param-value>commonJs</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>requestContextFilter</filter-name>
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter>
  <filter>
    <filter-name>openEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter>
    <filter-name>memberLoginCaptchaFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>captchaFilter</param-value>
    </init-param>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>captchaType</param-name>
      <param-value>memberLogin</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>businessLoginCaptchaFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>captchaFilter</param-value>
    </init-param>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>captchaType</param-name>
      <param-value>businessLogin</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>adminLoginCaptchaFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>captchaFilter</param-value>
    </init-param>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>captchaType</param-name>
      <param-value>adminLogin</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>etagHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>deviceResolverRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sitePreferenceRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>indexCacheFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>areaCacheFilter</filter-name>
    <url-pattern>/common/area</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>articleCacheFilter</filter-name>
    <url-pattern>/article/list/*</url-pattern>
    <url-pattern>/article/detail/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>productCacheFilter</filter-name>
    <url-pattern>/product/list</url-pattern>
    <url-pattern>/product/list/*</url-pattern>
    <url-pattern>/product/detail/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>brandCacheFilter</filter-name>
    <url-pattern>/brand/list/*</url-pattern>
    <url-pattern>/brand/detail/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>promotionCacheFilter</filter-name>
    <url-pattern>/promotion/detail/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>reviewCacheFilter</filter-name>
    <url-pattern>/review/detail/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>consultationCacheFilter</filter-name>
    <url-pattern>/consultation/detail/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>friendLinkCacheFilter</filter-name>
    <url-pattern>/friend_link</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>productCategoryCacheFilter</filter-name>
    <url-pattern>/product_category</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sitemapCacheFilter</filter-name>
    <url-pattern>/sitemap/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>commonJsCacheFilter</filter-name>
    <url-pattern>/resources/shop/js/common.js</url-pattern>
    <url-pattern>/resources/member/js/common.js</url-pattern>
    <url-pattern>/resources/business/js/common.js</url-pattern>
    <url-pattern>/resources/admin/js/common.js</url-pattern>
    <url-pattern>/resources/mobile/shop/js/common.js</url-pattern>
    <url-pattern>/resources/mobile/member/js/common.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestContextFilter</filter-name>
    <url-pattern>/member/login</url-pattern>
    <url-pattern>/member/logout</url-pattern>
    <url-pattern>/business/login</url-pattern>
    <url-pattern>/business/logout</url-pattern>
    <url-pattern>/admin/login</url-pattern>
    <url-pattern>/admin/logout</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>openEntityManagerInViewFilter</filter-name>
    <url-pattern>/member/login</url-pattern>
    <url-pattern>/member/logout</url-pattern>
    <url-pattern>/business/login</url-pattern>
    <url-pattern>/business/logout</url-pattern>
    <url-pattern>/admin/login</url-pattern>
    <url-pattern>/admin/logout</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>memberLoginCaptchaFilter</filter-name>
    <url-pattern>/member/login</url-pattern>
    <url-pattern>/common/captcha/sms</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>businessLoginCaptchaFilter</filter-name>
    <url-pattern>/business/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminLoginCaptchaFilter</filter-name>
    <url-pattern>/admin/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:/applicationContext-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error/not_found</location>
  </error-page>
</web-app>