@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleError
 * Version: 5.0
 */

/* ---------- Error ---------- */

.wrap {
	float: left;
	position: relative;
	left: 50%;
}

.error {
	float: left;
	margin-top: 120px;
	position: relative;
	right: 50%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 3px solid #f4f4f4;
	background: url(../images/error.gif) 0px bottom repeat-x;
}

.error dl {
	padding: 10px 60px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d7d7d7;
}

.error dt {
	line-height: 30px;
	color: #fe6200;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.error dd {
	line-height: 24px;
}