@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleLogin
 * Version: 5.0
 */

/* ---------- Login ---------- */

.login {
	width: 540px;
	height: 302px;
	padding: 110px 150px 0px 150px;
	margin: 60px auto 0px auto;
	overflow: hidden;
	background: url(../images/login.png) 0px 0px no-repeat;
}

.login table {
	width: 540px;
	height: 220px;
}

.login th {
	width: 60px;
	height: 30px;
	padding-right: 6px;
	font-weight: normal;
	text-align: right;
}

.login .captcha {
	width: 120px;
	text-transform: uppercase;
	ime-mode: disabled;
}

.login .captcha-image {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

.login .homeButton {
	width: 37px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/login.png) 0px -420px no-repeat;
}

.login .loginButton {
	width: 70px;
	height: 30px;
	line-height: 30px;
	color: #476b89;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/login.png) -37px -420px no-repeat;
}

.login .powered {
	height: 30px;
	line-height: 30px;
	padding-right: 10px;
	text-align: right;
	font-size: 9px;
	color: #999999;
}

.login .link {
	height: 30px;
	line-height: 30px;
	padding-right: 7px;
	text-align: right;
	color: #888888;
}

.login .link a {
	color: #888888;
	margin: 0px 3px;
}

fieldset {
	line-height: 30px;
	padding: 0px 10px;
	margin: 10px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

fieldset strong {
	font-weight: bold;
}