@charset "utf-8";

/*
 * Copyright 2005-2017 shopxx.net. All rights reserved.
 * Support: http://www.shopxx.net
 * License: http://www.shopxx.net/license
 * 
 * StyleMain
 * Version: 5.0
 */

/* ---------- Main ---------- */

.main {
	width: 100%;
	height: 100%;
}

.main th {
	height: 60px;
	background: url(../images/main.gif) 0px 0px repeat-x;
}

.main td {
	vertical-align: top;
}

.main .logo {
	width: 160px;
	vertical-align: middle;
}

.main .nav {
	width: 800px;
	height: 30px;
	float: left;
	padding-top: 30px;
	white-space: nowrap;
}

.main .nav li {
	width: 70px;
	float: left;
	padding: 0px 2px;
	background: url(../images/main.gif) right -60px no-repeat;
}

.main .nav li a {
	height: 30px;
	line-height: 30px;
	display: block;
	padding: 0px 6px;
	font-size: 14px;
	font-weight: bold;
	color: #488bd1;
	text-align: center;
	outline: none;
	blr: expression(this.hideFocus = true);
}

.main .nav li a:hover, .main li a.current {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0099cc;
}

.main .link {
	width: 240px;
	height: 29px;
	line-height:29px;
	float: right;
	clear: right;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
}

.main .link a {
	padding: 0px 6px;
}

.main .menu {
	border-right: 1px solid #a3c4d7;
	background-color: #f5faff;
}

.main .menu dl {
	padding: 0px 6px;
	display: none;
}

.main .menu .default {
	display: block;
}

.main .menu dt {
	height: 26px;
	line-height: 26px;
	font-weight: bold;
	color: #333333;
	padding-left: 10px;
	border-bottom: 1px dashed #b7d3e1;
}

.main .menu dd a {
	height: 26px;
	line-height: 26px;
	display: block;
	padding-left: 10px;
	color: #666666;
	outline: none;
	blr: expression(this.hideFocus = true);
}

.main .menu dd a:hover {
	background-color: #eaf4ff;
}

.main .menu dd a.current {
	background-color: #e4f2fa;
}

.main iframe {
	width: 100%;
	height: 100%;
}